  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h4>Social-One</h4>
          <p> Sync all of your social media here </p>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text"> Copyright 2020 | Rapunzel team</p>
        </div>
    </div>
</footer>