<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('components/header.ejs') %>
    </header>

    <div class="container-fluid bg-3 text-center">
      <section>
        <div class="about-container">
          <div class="row">
            <div class="col-md-2"> </div>
            <div class="col-md-8 subtitle">
              <p> Social - One is a web semantic that provide reliable information about social media from many people to connecting each other. This website provides features for searching social media accounts using the SPARQL implementation. </p>
            </div>
          </div>
       </div>
      </section>
     
      <br />
     <div class="container team-desc">
        <div class="col-md-3"> 
            <img src="/assets/cat.jpg" alt="profile">
        </div>
        <div class="col-md-4">
          <h2> Risyad Pangestu </h2>
          <p> 140810170003 </p>
          <br>

          <div class="job-desc">
            <p> Back End Developer </p>
          </div> 
        </div>
      </div>

      <div class="container team-desc">
        <div class="col-md-3"> 
            <img src="/assets/cat.jpg" alt="profile">
        </div>
        <div class="col-md-4">
          <h2> Dimas Satria Prakoso </h2>
          <p> 140810170007 </p>
          <br>

          <div class="job-desc">
            <p> Database Manager </p>
          </div> 
        </div>
      </div>


      <div class="container team-desc">
        <div class="col-md-3"> 
            <img src="/assets/cat.jpg" alt="profile">
        </div>
        <div class="col-md-6">
          <h2> Muhammad Luthfiansyah </h2>
          <p> 140810170023 </p>
          <br>

          <div class="job-desc">
            <p> Front End Developer </p>
          </div> 
        </div>
      </div>
     </div>
    </div>
    <%- include('components/footer.ejs') %>
  </body>
  
</html>
