<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('components/header.ejs') %>
    </header>

    <div class="container-fluid bg-3 text-center">
      <section>
        <div class="search-container">
          <div class="row">
            <div class="col-md-12 subtitle">
              <h2> <b>Sync all of your social media here</b> </h2>
            </div>
          </div>
          <div class="container-searchbar">
            <div class="row">
              <form method="POST" action="/search">
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <input type="text" name="search" placeholder="search name or social media name">
                </div>
                <div class="col-md-1">
                  <div class="select-style">
                    <select name="option">
                      <option value="name">Name</option>
                      <option value="instagram">Instagram</option>
                      <option value="facebook">Facebook</option>
                      <option value="twitter">Twitter</option>
                      <option value="linkedin">LinkedIn</option>
                    </select>
                  </div>
                 </div>
                <div class="col-md-1"> 
                  <button type="submit"> Search </button>
                </div>
              </form>
            </div>
          </div>
       </div>
      </section>
     
      <br />
     <div class="container">
      <div class="row"> 
        <div class="not-found">
            <h3> Result Not Found, try another name</h3>
        </div>
      </div>
      </div>
     </div>
    </div>
    <%- include('components/footer.ejs') %>
  </body>
  
</html>
