<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('components/header.ejs') %>
    </header>

    <div class="container-fluid bg-3 text-center">
      <section>
        <%- include('components/searchbar.ejs') %>
      </section>
     
      <br />
     <div class="container">
      <div class="row"> 
        <div class="not-found">
            <h3> Result Not Found, try another name</h3>
        </div>
      </div>
      </div>
     </div>
    </div>
    <%- include('components/footer.ejs') %>
  </body>
  
</html>
